#header{
    display: flex;
    background-color:darkblue;
    padding: 30px;
    text-align: center;
   justify-content: center;
    align-items: center;
    grid-area: header;
    color: white;
    border: solid 5px #000;
      background-image: linear-gradient(to right, #fffae6
 , darkblue, #fffae6);

}

header{
    border: solid;
    width:50%;
    

}
.maincontent{
    display: grid;
    grid-template-columns:  2fr 2fr 6fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header header"
        ".   sidebar main main";   
    justify-content: center;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-row: 2;

   
    
}
.sidebar{
    border-radius: 20px;
    grid-area: sidebar;
    font-size: 15px;
    background-color: rgb(224,224,224);
      
  
    
    
}


.contentinfo{
display: grid;
    width:85%;
    grid-area: main;
    background-color:   #fffae6;
     border-bottom-right-radius: 40% 20%;
    border-top-right-radius: 30% 15%;
    
}

#biography{
}

img{
    width: 40px;
    height: 40px;
}

#dateandinfo{
    display: flex;
    flex-direction: row;
    
}
#date{
    :
}
#info{
    margin-left:30px;
}
.imglink  {
    display: flex;
    flex-direction: row;
}
.imglink p{
    margin-left: 10px;
}

.imglink a{
    margin-left: 10px;
    margin-top: 10px;
}
.heading img{
    margin-left: 40px;
width:70%;
    height:150px;
    border-radius: 100%;
    border-bottom: solid;
    border-bottom-color: darkgoldenrod;
   
}
.heading h3{
    margin-left: 20px;
}
#position{
    grid-area:info;
}

#workexp{
    grid-area:workexperience;
}
#topsidebar{
max-height: 50%;
    border-bottom: solid grey;
    border-radius: 10px;
    display: flex;
  flex-direction: column;
}
#bottomsidebar{
    max-height: 30%;
    display: flex;
  flex-direction: column;
}


hr{
display: block; height: 2px;
    width:80%;
    border: 0; 
    border-bottom: 3px solid grey;
    margin-left:9w0px;
     }

ul{
columns: 2;
}


p{
    font-size:18px;
}
a{
    font-size: 18px;
}
