#header{
    display: flex;
    background-color:darkblue;
    padding: 30px;
    text-align: center;
   justify-content: center;
    align-items: center;
    grid-area: header;
    color: white;
}

header{
    border: solid;
    width:50%;
    

}
.maincontent{
    display: grid;
    grid-template-columns:  2fr 2fr 6fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header header"
        ".   sidebar main main";   
    justify-content: center;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-row: 2;
   
    
}
.sidebar{
    background-color:mediumvioletred;
    border-radius: 20px;
    grid-area: sidebar;
    font-size: 15px;
    background-color: rgb(224,224,224);
    
    
}

.contentinfo{
display: grid;
    width:75%;
    grid-area: main;
   border-bottom: 1px solid black;
    border-radius: 5px;
    background-color: gold;
}

#biography{
     
}

img{
    width: 40px;
    height: 40px;
}

#workexperience{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-areas: "workexperience . "
        "date position" ;
    
}
#date{
    grid-area:date;
    
}
.imglink  {
    display: flex;
    flex-direction: row;
}
.imglink p{
    margin-left: 10px;
}

.imglink a{
    margin-left: 10px;
    margin-top: 10px;
}
.heading img{
    margin-left: 40px;
width:70%;
    height:150px;
    border-radius: 100%;
   
}
.heading h3{
    margin-left: 20px;
    text-align: center;
}
#position{
    grid-area:position;
}

#workexp{
    grid-area:workexperience;
}
#topsidebar{
max-height: 50%;
    border-bottom: solid grey;
    border-radius: 10px;
    display: flex;
  flex-direction: column;
}
#bottomsidebar{
    max-height: 30%;
    \
    display: flex;
  flex-direction: column;
}

